@font-face {
    font-family: 'Vazir';
    src: url('../../public/assets/fonts/Vazir-Thin-FD-WOL.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../public/assets/fonts/Vazir-Light-FD-WOL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../public/assets/fonts/Vazir-FD-WOL.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../public/assets/fonts/Vazir-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../public/assets/fonts/Vazir-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../../public/assets/fonts/Vazir-Black-FD.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
